* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
  color: #ffffff;
  list-style-type: none;
  text-decoration: none;

  p {
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
}

body {
  background: linear-gradient(90deg, rgba(43, 1, 139, 1) 0%, rgba(0, 0, 0, 0.99) 80%);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100vw;
  max-width: 100%;
  padding-top: 10px;
}

.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-left: -50px;

  img {
    width: 600px;
  }

}

.main {
  width: 500px;
  height: 550px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(19, 113, 239, 0.5);
  border-radius: 20px;
  overflow-y: hidden;
  overflow-x: hidden;
  margin-top: 30px;
}

.tabs {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 48px;
  padding: 20px 20px 20px;
  background-color: transparent;
  position: relative;
  z-index: 2;

  .tab {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 24px;

    cursor: pointer;
    opacity: 0.6;
    transition: all 0.3s;
    position: relative;
    outline: none;
  }

  .tab.active {
    opacity: 1;
  }

  .tab::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(115deg, #2b018b 44%, #1371ef 100%);
    transition: width 0.3s ease;
  }

  .tab.active::after {
    width: 100%;
  }
}

.form-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 80px 48px 32px;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.login {
  transform: translateX(-100%);
  width: 100%;
  margin: 20px auto;


  &.active {
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
  }

  .form-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: -32px auto 0;
  }

  .form-group {
    display: flex;
    flex-direction: column;
  }

  .input-rememberMe {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;

    label {
      margin: 0;
    }
  }

  .input-rememberMe input[type="checkbox"] {
    width: auto;
  }

  .forgot-password {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    margin-top: 8px;

    &:hover {
      color: #1371ef;
    }
  }
}

.new-user {
  transform: translateX(100%);
  width: 100%;
  margin: auto;

  &.active {
    transform: translateX(0);
    opacity: 1;
    pointer-events: all;
  }

  .form-register {
    display: flex;
    flex-direction: column;
    width: 100%;

  }

  .form-group {
    display: flex;
    flex-direction: column;
  }

  .form-register button[type="submit"] {
    grid-column: span 2;
    max-width: 50%;
    margin: 16px auto 0;
  }

  #password-match-message {
    color: #ff3b3b;
    font-size: 13px;
    margin-top: 3px;
    display: none;
  }

  #password-match-message.visible {
    display: block;
  }

  .hidden {
    display: none;
  }

  .visible {
    display: inline;
  }
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  margin-left: 10px;
  margin-bottom: 0;

  span {
    color: #1371ef;
  }
}

input {
  width: 100%;
  height: 40px;
  padding: 13px;
  border: 1px solid rgba(43, 1, 139, 0.3);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  transition: all 0.3s;
}

input:focus {
  outline: none;
  border-color: #1371ef;
  background-color: rgba(255, 255, 255, 0.2);
}

button[type="submit"] {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(115deg, #2b018b 44%, #1371ef 100%);
  color: white;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
  margin-top: 8px;
  outline: none;
}

button[type="submit"]:hover {
  transform: translateY(-4px);
}

button[type="submit"]:active {
  transform: scale(0.9);
}

.container-footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 150px;
  padding: 20px;
  margin-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-info {
  width: 305px;
  margin-top: 20px;

  h4 {
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    color: #ffffff;
    opacity: 0.68;
    margin-bottom: 20px;
  }

  .icons-redes-sociais {
    display: flex;
    gap: 15px;

    .ig {
      width: 28px;
      opacity: 0.68;
    }

    .wpp {
      width: 24px;
      opacity: 0.68;
    }

    img:hover {
      transform: scale(1.1);
      transition: 0.1s ease-in-out;
    }
  }
}

.footer-links {
  width: 230px;
  margin-top: 20px;

  & h4 {
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 10px;
  }

  & p {
    font-size: 16px;
    color: #ffffff;
    opacity: 0.68;
    margin-bottom: 10px;
  }

  & p:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
    color: #ffffffcc;
  }
}

.footer-intitucional {
  width: 285px;
  margin-top: 20px;

  & h4 {
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 10px;
  }

  & p {
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    opacity: 0.68;
    margin-bottom: 5px;
  }

  & p:hover {
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
    color: #ffffffcc;
  }
}